/* Estilos para o cabeçalho */
header {
  background-color: #ffffff;
  width: 100%;
  top: 0;
  height: 110px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 100;
}

.logo {
  color: rgba(0, 0, 0, 0.815);
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo p {
  font-weight: bold;
}

/* Estilos para o menu de navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu p {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.815);
  font-size: 18px;
}

/* Estilos para o corpo */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.fundo {
  max-width: 60%;
  height: 500px;
  background: linear-gradient(to top, rgba(31, 28, 201, 0.396), #82e7f5);
  border-radius: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5%;
}

.fundo h1 {
  font-size: 4.5em;
  margin: 0;
  margin-top: 5%;
  font-family: "Source Sans Pro", sans-serif;
}

.fundo > p, .texto {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.815);
  filter: blur(0.4px);
  margin: 0;
}

@media (max-width: 768px) {
  .fundo {
    max-width: 80%;
    height: auto;
  }

  .fundo h1 {
    font-size: 2.5em;
  }

  .fundo > p, .texto {
    font-size: 1.2em;
  }
}

.texto {
  margin-left: 17%;
  margin-right: 50%;
  font-size: 20px;
  line-height: 150%;
}

.container {
  text-align: center;
}

span {
  font-size: 20px;
  font-weight: bold;
}

.titulo, .subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.815);
  filter: blur(0.4px);
  margin-top: 6%;
}

.separador {
  border: none;
  height: 3px;
  background-color: purple;
  margin: 20px auto;
  width: 5%;
  border-radius: 30%;
}

.subtitulo {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: rgba(48, 47, 47, 0.753);
  filter: blur(0.4px);
  text-align: center;
}

a, p, h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 130%;
  color: rgba(0, 0, 0, 0.815);
  filter: blur(0.4px);
  text-align: left;
  line-height: 115%;
}

#foto {
  height: 60px;
  border-radius: 50px;
  margin-left: 400px;
}

.certificados {
  background-color: black;
}

.sobre img[src="img/facebook_logo.jpg"] {
  width: 18%;
  float: left;
}

.sobre img[src="img/fei_logo.jpg"], img[src="img/finnet.png"], img[src="img/koppert.png"] {
  width: 15%;
  float: left;
  margin-top: 4%;
  margin-right: 2%;
  margin-left: 1%;
}

.exibir {
  background-color: white;
  border-radius: 20px;
  color: gray;
  float: left;
  margin-left: 18%;
}

.menu {
  padding-left: 40%;
  width: 100%;
}

.menu a {
  font-size: 17px;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  text-align: right;
  margin-right: 100px;
}

li {
  display: inline;
}

li > a, .logo a {
  text-decoration: none;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.815);
  filter: blur(0.4px);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
  letter-spacing: 1px;
}

header li p:hover {
  color: #58119bb2;
}

/* Estilos para o rodapé */
.icons {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1%;
}

.icon-link {
  display: inline-block;
  margin-left: 10px;
}

.icon-link img {
  width: 50px;
  height: 50px;
}

footer {
  line-height: 100px;
  text-align: center;
  background-color: #000000ea;
  bottom: 0;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.sobre {
  display: flex;
  flex-wrap: wrap;
}

.coluna {
  flex: 1;
  padding-top: 4%;
  padding-left: 14%;
  padding-right: 4%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .coluna {
    flex: 100%;
    padding: 4% 0;
  }
}

.habilidades-lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
}

.habilidades-lista li {
  background-color: #e0e0e0;
  border: 1px solid #ddd;
  border-radius: 12%;
  padding: 3%;
  width: 15%;
  font-size: 110%;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4545;
  font-weight: bold;
  text-align: center;
}

.experiencia-lista {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
}

.experiencia-lista li {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12%;
  padding: 2%;
  width: 12%;
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* Estilos para os botões */
button {
  background-color: rgb(59, 144, 194);
  color: #ffffff;
  font-size: 18px;
  border-radius: 10%;
  padding: 2%;
  font-family: sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 1px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #29739c;
  cursor: pointer;
  color: white;
}

.links {
  color: darkblue;
  font-size: 18px;
}
